body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.top {
    align-items: center;
}

.buttonn{
    width: 100px;
}